{{template "header" }}
  <title>Login page my beegblog</title>
  </head>
  <body>
  	<div class="container " style="width: 500px">
  		<form method="POST" action="/login">
  		  <div class="form-group">
  		    <label>Account</label>
  		    <input class="form-control" placeholder="Enter account" name="uname" id="uname">
  		  </div>
  		  <div class="form-group">
  		    <label>Password</label>
  		    <input type="password" class="form-control" placeholder="Password" name="pwd" id ="pwd">
  		  </div>
     		  <div class="checkbox">
  		    <label>
  		      <input type="checkbox" name="autologin"> Auto Login</input>
  		    </label>
  		  </div>
  		  <button type="submit" class="btn btn-default" onclick="return checkInput();">Login</button>
            <button class="btn btn-default" onclick="return backToHome();">Back</button>
  		</form>
  	</div>
  </body>
  <script type="text/javascript">
        function checkInput(){
          var uname = document.getElementById("uname");
          if (uname.value.length == 0) {
            alert("Please input user name.");
            return false;
          }

          var pwd = document.getElementById("pwd");
          if (pwd.value.length == 0) {
            alert("Please input password.");
            return false;
          }
          return true;
        }
        function backToHome() {
          window.location.href = "/";
          return false;
        }
      </script>
  </html>